<h1>Welcome to the world's best SCRUM framework</h1>
<h2>This platform is a free themed academic assignment of a web engineering class.
  The platform was developed using Ruby on Rails.
  The choosen theme is a simple Scrum flavoured platform to manage the aplications development process.</h2>
<p>
  With this plattform you can:
  <ol>
    <ul>create a project</ul>
    <ul>add requirements to a project</ul>
    <ul>create teams in the scope of a project</ul>
    <ul>add members to a team</ul>
    <ul>add sprints to a project</ul>
    <ul>assign requirements to a team in the scope of a sprint</ul>
  </ol>
<p>
