<hr>
<tr>
  <td>
    <tr>
      begin <%=sprint.begin_date%>
      <br>end <%=sprint.end_date%>
    </tr>
    <% if @user == current_user %>
      <ol>
        <%= link_to 'delete', [@user,@project, sprint], method: :delete, data: {:confirm => 'Are you sure?'} %>
      </ol>
    <% end %>
  </td>
</tr>
