<h1>Scrum Board</h1>
<table id="scrumboard">
  <tr id="team">
    <td>
      <% if @user == current_user %>
        <ol>
          <%=link_to "add sprint", new_user_project_sprint_path(@project.user_id,@project.id)%>
        </ol>
      <% end %>
    </td>
    <%@project.teams.each do |t|%>
      <td>
        <h4><%=t.name%></h1>
      </td>
    <% end %>
  </tr>
  <%= render @sprints%>
</table>
