<h1>Projects#show</h1>
<h1><%= @project.name %></h1>
<h2><%=@project.description%></h2>
<h3><%= link_to "add requirement", new_user_project_requirement_path(@project.user_id,@project.id) %></h3>
<% if @project.requirements.any? %>
  <%=render @requirements%>
<%end%>
