<% provide(:title, @project.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="project_info">
      <h1>
        <%=@project.name%>
      </h1>
      <h2><%= @project.description %></h2>
    </section>
  </aside>

  <div class="col-md-8">
    <h3><%= link_to "add requirement", new_user_project_requirement_path(@project.user_id,@project.id) %></h3>  
    <% if @project.requirements.any? %>
      <ol class="requirements">
        <%=render @requirements%>
      </ol>
    <%end%>
  </div>


</div>
