// Place all the styles related to the roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ui-autocomplete .ui-menu-item.ui-state-focus{
  background: #fff;
  border-style:solid;
  border: 4px solid transparent;
  border-left-color: #08c;
  font-weight: 300;
}

.ui-autocomplete{
  list-style-type: none;
  padding:3px;
  margin:0;
}

.search-results{
  position: absolute;
  top: 0;
  left: 0;
}


.ui-menu-item .s-email {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}
